[Unit]
Description=Daily rbackup run

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=15m
Persistent=true
Unit=rbackup-backup.service

[Install]
WantedBy=timers.target
